/* Main Page */
body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
.nav-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.nav-bar li{
    display: inline-block;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
.nav-bar a:hover{
    text-decoration: underline;
}

.bg-image{
    height: 100vh;
    background: url('images/Personal\ Portfolio\ Background.png');
    background-size: cover;
    position: relative;
}
.hero-title{
    font-size: 4.5rem;
}
.hero-desc{
    font-size: 2rem;
}
.column{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

/* personal projects section */
.projects-row{
    display: flex;
    padding: 0 4px;
    width: 100%;
}
.projects-column{
    position: relative;
    width: 50%;
}
.projects-column:hover .image{
    opacity: 0.3;
}
.projects-column:hover .middle{
    opacity: 1;
    cursor: pointer;
}
.text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
}
.image{
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.projects-column img{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* about me section */
.about-me{
    width: 100%;
}
.about-me-image{
    text-align: center;
    width: 25%;
    float: left;
}
.about-me-text{
    width: 75%;
    float: right;
    text-align: left;
    font-size: 3rem;
    font-family: monospace;
}
.section-title{
    font-size: 4.5rem;
}
.row{
    display: flex;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.pt-4{
    padding-top: 4rem;
}
.container{
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.text-center{
    text-align: center;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover, .fa-github:hover {
    color: white;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* Portfolio */
.portfolio-header{
    background-color: blue;
    text-align: center;
}