/* Main Page */
body{
    background-color: gray;
    margin: 0px;
}

.nav-container{
    background-image: linear-gradient(rgb(107, 93, 93), black);
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 40px;
    overflow: hidden;
}

.nav-container a{
    color:white;
    float: right;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding: 10px 14px;
}

.nav-container a:hover{
    background-color: #ddd;
    color: black;
}

.home-page-title{
    background-color: blue;
    text-align: center;
}

/* Portfolio */
.portfolio-header{
    background-color: blue;
    text-align: center;
}